<h2>My Stars</h2>
<ul class="stars">
  <li *ngFor="let star of stars">
    <a routerLink="/detail/{{star.id}}">
      <span class="badge">{{ star.id }}</span> {{ star.name}}
    </a>
    <button class="delete" title="delete star"
            (click)="delete(star)">x</button>
  </li>
</ul>

<div>
  <label>star name:
    <input #starName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(starName.value); starName.value=''">
    add
  </button>
</div>
